@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&family=Nunito&family=Quicksand&family=Sono&display=swap');
* {
  font-family: 'Sono', sans-serif;
}
.covid-card {
  background-color: black;
  color: white;
  margin: 15px;
  border-radius: 10px;
}
.covid-text {
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.header {
  background-color: slategrey;
  padding: 30px;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin: 10px;
  border-radius: 10px;
}
.cover {
  background-color: lightgray;
}